* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --primary-color: rgb(137, 139, 139);
    --focused-color: aliceblue;
    --theme-color: rgb(146, 96, 226);
    --silhouette-color: rgba(0, 0, 0, 0.6);
}


.fira-code-{
  font-family: "Fira Code", serif;
  font-optical-sizing: auto;
  font-weight:100;
  font-style: normal;
}

body {
    background-image: url('./images/landscape_nigth.jpg');
    background-repeat: no-repeat;
    /* Prevents image repetition */
    background-size: cover;
    min-height: 100vh;
    /* Ensures the body covers the entire viewport height */
    background-position: center;
    /* Often useful to center the image */
    display: flex;
    flex-direction: column;

}

#header {
    height: 10vh;
    width: 100vh;
    color: aliceblue;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#rest {
    display: flex;

    width: 100%;
}



#left,
#right {
    width: 50%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6%;
}

#left {
  

}

#header>p {
    text-align: left;
    font-size: 50px;
}

#d , .d{
    color: var(--theme-color);
}

#form {
    padding: 50px;
    height: auto;
    width: 80%;
    background-color: var(--silhouette-color);
    border-radius: 5%;
    padding: 10% 8%;
    /* display: flex; */
    justify-content: space-around;
    /* flex-direction: column; */
}

form {
    /* display: flex;
    justify-content: space-around;
    flex-direction: column; */
    
}


legend {
    font-size: 30px;
    display: block;
    color: var(--focused-color);
    padding-bottom: 20px;
}
#details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form_part {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

label {
    color: var(--primary-color);
}

input {
    color: var(--primary-color);
    background-color: transparent;
    border-bottom: var(--primary-color) solid 1px;
}

input:focus {
    color: var(--focused-color);
    border-bottom: var(--focused-color) solid 1px;
    background-color: transparent;
    outline: none;

}

input:focus+label {
    color: var(--focused-color);
}

/* hiding the arrows of number type of input :*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

button {
    width: 80px;
    padding: 5px;
    background-color: transparent;
    color: var(--theme-color);
    border: var(--theme-color) 2px solid;
    border-radius: 15px;
    font-size: 17px;
    margin: 20px;
}

#description {
 background-color: rgba(16, 0, 41 ,0.7);
 color: var(--focused-color);
 border-radius: 30px;
 width: 100%;
 height: auto;
 padding: 20px;
 font-size: 1.4vw;
 font-family: "Fira Code", serif;
 font-optical-sizing: auto;
  font-style: normal;
}